.container {  display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1.7fr 0.3fr;
    grid-template-rows: 0.6fr 1.4fr 0.5fr 0.9fr 0.8fr 0.8fr 0.7fr 2.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo header header header header"
      "welcomeBanner welcomeBanner welcomeBanner welcomeBanner welcomeBanner"
      "searchBar searchBar searchBar searchBar searchBar"
      "mainDiv mainDiv mainDiv mainDiv mainDiv"
      "mainDiv mainDiv mainDiv mainDiv mainDiv"
      "mainDiv mainDiv mainDiv mainDiv mainDiv"
      "mainDiv mainDiv mainDiv mainDiv mainDiv"
      "mainDiv mainDiv mainDiv mainDiv mainDiv";
  }
  
  .logo { grid-area: logo; }
  
  .header { grid-area: header; }
  
  .searchBar { grid-area: searchBar; }
  
  .welcomeBanner { grid-area: welcomeBanner; }
  
  .mainDiv {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "artIntro artIntro . . . ."
      "artistInfo artWorkInfo artDisplay artDisplay artDisplay ."
      "artistInfo artWorkInfo artDisplay artDisplay artDisplay ."
      "artistInfo artWorkInfo artDisplay artDisplay artDisplay ."
      "artistInfo artWorkInfo artDisplay artDisplay artDisplay ."
      "artistInfo artWorkInfo artDisplay artDisplay artDisplay ."
      ". . . . . .";
    grid-area: mainDiv;
  }
  
  .artIntro { grid-area: artIntro; }
  
  .artDisplay { grid-area: artDisplay; }
  
  .artistInfo { grid-area: artistInfo; }
  
  .artWorkInfo { grid-area: artWorkInfo; }
  