.container {  display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1.7fr 0.3fr;
    grid-template-rows: 0.4fr 1.6fr 0.5fr 0.9fr 0.8fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo header header header header"
      "empty1 empty1 welcomeBanner empty2 empty2"
      ". . searchBar . ."
      "mainDiv mainDiv mainDiv mainDiv mainDiv"
      "mainDiv mainDiv mainDiv mainDiv mainDiv"
      "mainDiv mainDiv mainDiv mainDiv mainDiv";
  }
  
  .logo { grid-area: logo; }
  
  .header { grid-area: header; }
  
  .mainDiv {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". artDisplay . artIntro artIntro ."
      ". artDisplay . artIntro artIntro ."
      ". artDisplay . artIntro artIntro ."
      ". . . qLinks qLinks ."
      ". . . . . ."
      ". . . . . .";
    grid-area: mainDiv;
    background-color: #DBD2C2;
  } 
  
  .artDisplay { grid-area: artDisplay; }
  
  .artIntro { grid-area: artIntro; }
  
  .qLinks { grid-area: qLinks; }
  
  .welcomeBanner { grid-area: welcomeBanner; }
  
  .empty1 { grid-area: empty1; }
  
  .empty2 { grid-area: empty2; }
  
  .searchBar { grid-area: searchBar; padding: 1%;} 
  
  .navbar{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 10px;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 25px;
  }

  .navbar:hover {
    background-color: #DBD2C2;
    transition: 0.7s;
}

  .button {
    background-color: #967171;
    color: white;
    border-color: #836363;
    border-radius: 10px;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }

  .button:hover {
    background-color:#634b4b;
    transition: 0.7s;
}

.input{
    padding: 15px;
    background: white;
    font: 15px sans-serif;
    border-color: #967171;
    border-radius: 10px;
}

h1, h2, h3, h4, button, input{
    font-family: 'Italiana', serif;
}